* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}

#root {
  background-color: rgb(255, 255, 255);
}

.on-the-go {
  position: relative;
}

.on-the-go .ar-scene .back-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 0;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: fixed;
  left: 10px;
  top: 10px;
  z-index: 3;
}

.on-the-go .ar-scene .compass {
  padding: 5px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: fixed;
  z-index: 3;
  right: 10px;
  top: 10px;
}

.on-the-go .ar-scene .compass img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.on-the-go .ar-scene .react-transform-wrapper {
  z-index: 2;
}

.on-the-go .ar-scene .mini-map {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0.8;
  position: relative;
  z-index: 2;
  background-color: rgba(225, 255, 255, 0.574);
}

.on-the-go .ar-scene .mini-map .map {
  position: relative;
}

.on-the-go .ar-scene .mini-map .map img {
  width: 100%;
  pointer-events: all !important;
}

.on-the-go .ar-scene .navigation-controller {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  position: fixed;
  bottom: 10px;
  z-index: 3;
}

.on-the-go .ar-scene .navigation-controller button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 0;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.on-the-go .ar-scene .navigation-controller button.fullscreen-toggle-btn,
.on-the-go .ar-scene .navigation-controller button.view-pannellum-btn {
  flex-shrink: 0;
}

.on-the-go .ar-scene .navigation-controller button.view-pannellum-btn {
  padding: 5px;
}

.on-the-go .ar-scene .navigation-controller button.view-pannellum-btn img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.on-the-go .ar-scene .navigation-controller button.ok-btn,
.on-the-go .ar-scene .navigation-controller button.reset-btn {
  width: 100%;
  border-radius: 25px;
}

.on-the-go .ar-scene .navigation-controller button.ok-btn {
  background-color: royalblue;
  font-size: 18px;
  color: #fff;
}

.on-the-go .ar-scene .navigation-controller button.reset-btn {
  background-color: tomato;
  font-size: 18px;
  color: #fff;
}

.on-the-go video {
  top: 0;
  position: absolute;
  z-index: 1;
}

.view-360-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 0;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.pulse-box {
  background-color: #d700fF;
  height: 150px;
  width: 150px;
  border-radius: 5px;
  position: relative;
}

.pulse-box:after,
.pulse-box:before {
  content: "";
  background-color: red;
  border-radius: inherit;
  position: absolute;
  inset: 0;
  z-index: 13;
  opacity: 0.8;
  animation: pulse 1.5s ease-in-out infinite;


}

.pulse-box:after {
  animation-delay: 0.5s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.85
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}